<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>


	<typeAliases>
	
	
		<typeAlias type="com.js.home.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.js.home.notice.NoticeFileVO" alias="NoticeFileVO"/>
		
		
		
		<typeAlias type="com.js.home.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		
		
		
	</typeAliases>
	
	
</configuration>